## API (GOOGLE SPREADSHEETS, ЯНДЕКС.МЕТРИКА)

In [1]:
from io import BytesIO
import requests
import pandas as pd
import numpy as np

### ★ 1

Считайте данные из Google Sheets, которые находятся по этой ссылке при помощи библиотеки requests. Посчитайте процент мужчин среди всех посетителей сайта, округлите ответ до целых.

In [6]:
link = 'https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv'
req = requests.get(link)
data = req.content

df = pd.read_csv(BytesIO(data))

In [7]:
df

         date         gender  users
0  2020-06-14  Not specified    150
1  2020-06-14           male    117
2  2020-06-14         female     21

In [8]:
df['percent'] = (100 * df.users / df.users.sum()).round(0)

In [9]:
df

         date         gender  users  percent
0  2020-06-14  Not specified    150     52.0
1  2020-06-14           male    117     41.0
2  2020-06-14         female     21      7.0

### 2

Скачайте файл с данными посещаемости сайта Яндекс.Метрика отсюда (сохранен в переменную df). При помощи функции np.where создайте серию, в которую будет записываться 1, если посещения были сделаны роботами с браузера, содержащего Chrome в названии, и 0 в других случаях. Поместите получившуюся серию в переменную chrome_robots.

In [17]:
df = pd.read_csv('7_browser.csv')

In [18]:
df.head()

         date         browser user_type  users
0  2020-06-14   Google Chrome    People    139
1  2020-06-14   Chrome Mobile    People     35
2  2020-06-14   Google Chrome    Robots     28
3  2020-06-14  Yandex Browser    People     22
4  2020-06-14         Firefox    People     15

In [21]:
chrome_robots = pd.Series(np.where((df.browser.str.contains('Chrome')) & (df.user_type == 'Robots'), 1, 0))

In [22]:
chrome_robots

0     0
1     0
2     1
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    1
20    0
21    0
22    0
23    0
dtype: int32

### ★ 3

У вас есть датасет с данными о кликах и показах по объявлению, в котором есть пропуски. Вычислите количество строк без пропусков в колонке click_type. Запишите ответ в переменную not_nan_count

ad_id – id объявления
user_id – id пользователя
click_type – тип клика (клик по заголовку объявления, клик по центру)
Данные сохранены в переменную df.

In [24]:
df = pd.read_csv('sample_ads.csv')

In [28]:
df.head()

   ad_id user_id click_type
0  12345   qwert        top
1  12345   fsssc     center
2  12345   vfvgg        NaN
3  12345   asrvv        NaN
4  12345   tynuy        top

In [32]:
not_nan_count = df.click_type.notna().sum()

In [33]:
not_nan_count

11

### ★ 4

В списке lst находятся различные элементы. Создайте список new_list и сделайте следующее:

- при помощи конструкции try except и цикла попробуйте преобразовать каждое значение в листе в int  
- если это получилось – добавьте преобразованное значение  в список new_list

In [42]:
lst = [1, 'lol', '88005553535', '42.0', 295, -0.5, 0, None]

In [43]:
new_list = []
for item in lst:
    try:
        int_item = int(item)
        new_list.append(int_item)
    except (ValueError, TypeError):
        continue

In [44]:
new_list

[1, 88005553535, 295, 0, 0]

### ★ 5

А теперь попробуем воспользоваться знаниями использования Telegram API. Отправьте себе в личку любое послание, а в ответ к этому шагу напишите ник бота, от имени которого будете отправлять сообщения.

In [47]:
with open('token.txt') as f:
    token = f.read().strip()

In [49]:
api_pattern = f'http://api.telegram.org/bot{token}'

In [57]:
update = f'{api_pattern}/getUpdates'

In [58]:
info = requests.get(update)

In [59]:
info

In [60]:
info.json()

{'ok': True,
 'result': [{'update_id': 557439225,
   'message': {'message_id': 1,
    'from': {'id': 1099254596,
     'is_bot': False,
     'first_name': 'Ильдус',
     'username': 'Aculanma',
     'language_code': 'ru'},
    'chat': {'id': 1099254596,
     'first_name': 'Ильдус',
     'username': 'Aculanma',
     'type': 'private'},
    'date': 1673544342,
    'text': '/start',
    'entities': [{'offset': 0, 'length': 6, 'type': 'bot_command'}]}},
  {'update_id': 557439226,
   'message': {'message_id': 2,
    'from': {'id': 1099254596,
     'is_bot': False,
     'first_name': 'Ильдус',
     'username': 'Aculanma',
     'language_code': 'ru'},
    'chat': {'id': 1099254596,
     'first_name': 'Ильдус',
     'username': 'Aculanma',
     'type': 'private'},
    'date': 1673544345,
    'text': 'sup'}}]}

In [70]:
chat_id = info.json()['result'][0]['message']['chat']['id']

In [72]:
send_message = f'{api_pattern}/sendMessage'

In [74]:
params = {'chat_id': chat_id, 'text': 'Привет'}

In [75]:
response = requests.get(send_message, params=params)

In [76]:
response.text

'{"ok":true,"result":{"message_id":3,"from":{"id":5966984831,"is_bot":true,"first_name":"Iskhakov","username":"Khalitovi4_bot"},"chat":{"id":1099254596,"first_name":"\\u0418\\u043b\\u044c\\u0434\\u0443\\u0441","username":"Aculanma","type":"private"},"date":1673545007,"text":"\\u041f\\u0440\\u0438\\u0432\\u0435\\u0442"}}'