## Урок 2. ЗНАКОМСТВО С PANDAS

### 1

Теперь поработаем с данными о поездках на такси в Нью-Йорке, где также имеется информация о погодных условиях и выходных днях.  

__pickup_dt__ – период с точностью до часа  
__pickup_month__ – месяц  
__borough__ – район Нью-Йорка, из которого был сделан заказ (5 районов + аэропорт)  
__pickups__ – число поездок за период (час)  
__hday__ – является ли день праздничным/выходным; Y - да,  N - нет  
__spd__ – скорость ветра в милях в час  
__vsb__ – видимость  
__temp__ – температура в градусах Фаренгейта  
__dewp__ – точка росы по Фаренгейту  
__slp__ – давление  
__pcp_01__ – количество осадков за час  
__pcp_06__ – количество осадков за 6 часов  
__pcp_24__ – количество осадков за 24 часа  
__sd__ – глубина снега в дюймах  

Но перед тем, как приступать к работе, давайте загрузим данные. На LMS путь к данным лежит в переменной __path_to_file__ (условно, path_to_file = "/some/path/to/file.csv"). Импортируйте библиотеку pandas, а затем загрузите данные по вышеупомянутой ссылке. 

Результат сохраните в переменную __taxi__.

In [48]:
import pandas as pd


path_to_file = '2_taxi_nyc.csv'
taxi = pd.read_csv(path_to_file)
taxi

,pickup_dt,pickup_month,borough,pickups,hday,spd,vsb,temp,dewp,slp,pcp 01,pcp 06,pcp 24,sd
0,2015-01-01 01:00:00,Jan,Bronx,152,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
1,2015-01-01 01:00:00,Jan,Brooklyn,1519,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
2,2015-01-01 01:00:00,Jan,EWR,0,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
3,2015-01-01 01:00:00,Jan,Manhattan,5258,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
4,2015-01-01 01:00:00,Jan,Queens,405,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29096,2015-06-30 23:00:00,Jun,EWR,0,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29097,2015-06-30 23:00:00,Jun,Manhattan,3828,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29098,2015-06-30 23:00:00,Jun,Queens,580,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29099,2015-06-30 23:00:00,Jun,Staten Island,0,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29100,2015-06-30 23:00:00,Jun,NaN,3,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0

### 2

Проверьте, сколько всего строк и столбцов имеется в датасете.

In [2]:
taxi.shape

(29101, 14)

In [8]:
rows, columns = taxi.shape
print(f'{rows = }, {columns = }')

rows = 29101, columns = 14

### 3

Давайте посмотрим на типы колонок. В качестве ответа выберите тип, преобладающий в датасете.

In [22]:
taxi.dtypes

pickup_dt        object
pickup_month     object
borough          object
pickups           int64
hday             object
spd             float64
vsb             float64
temp            float64
dewp            float64
slp             float64
pcp 01          float64
pcp 06          float64
pcp 24          float64
sd              float64
dtype: object

In [28]:
obj = 0
intgr = 0
flt = 0
for i in taxi.dtypes:
    if i == 'object':
        obj += 1
    elif i == 'int64':
        intgr += 1
    elif i == 'float64':
        flt += 1
        
print(f'{obj = }, {intgr = }, {flt = }')

obj = 4, intgr = 1, flt = 9

### 4

В названиях столбцов __pcp 01__, __pcp 06__, __pcp 24__ встречается пробел. Это не очень удобно, если в дальнейшем вы планируете обращаться к колонкам через точку, без использования кавычек и скобочек. 

Замените пробел в названиях на знак нижнего подчеркивания. 

Данные сохранены в переменную __taxi__. Данные должны быть изменены в этом же датафрейме.

In [29]:
taxi = taxi.rename(columns={'pcp 01': 'pcp_01', 
                   'pcp 06': 'pcp_06', 
                   'pcp 24': 'pcp_24'})

### 5

Вас попросили узнать сколько раз в данных встречается район Бруклин (Brooklyn)?

In [41]:
taxi.borough.value_counts()

Bronx            4343
Brooklyn         4343
EWR              4343
Manhattan        4343
Queens           4343
Staten Island    4343
Name: borough, dtype: int64

In [43]:
taxi.query("borough == 'Brooklyn'").shape[0]

4343

### 6

Выяснить, из какого района было совершено наибольшее количество поездок за весь период.  
Для начала, посчитайте общее количество поездок (__pickups__), без группировки.

In [45]:
taxi.pickups.sum()

14265773

### 7

А теперь сгруппируйте данные по району (__borough__) и укажите, из какого пункта было совершено больше всего поездок.

In [57]:
taxi.groupby('borough').pickups.sum().sort_values(ascending=False)

borough
Manhattan        10367841
Brooklyn          2321035
Queens            1343528
Bronx              220047
Staten Island        6957
EWR                   105
Name: pickups, dtype: int64

### ★ 8

Еще несколько полезных методов в __pandas__! Возможно, в предыдущем степе вы просто посмотрели на данные или отсортировали значения. Ускорить данный процесс в дальнейшем помогут методы __idxmin()__ и __idxmax()__, которые возвращают индекс минимального или максимального значения.

__idxmin__ – индекс минимального значения  
__idxmax__ – индекс максимального значения  
Сохраните название района с наименьшим числом поездок в переменную __min_pickups__, применив подходящий метод.

In [62]:
min_pickups = taxi.groupby('borough').pickups.sum().idxmin()

In [61]:
min_pickups

'Manhattan'

### 9

Продолжим изучение данных и посмотрим на число поездок в выходные дни. Сгруппируйте данные по двум признакам:     
· району города  __(borough)__           
· является ли день выходным __(hday)__    

Сравните среднее число поездок, и выберите районы, из которых по праздникам в среднем поступает больше заказов, чем в обычные дни.

In [64]:
taxi

,pickup_dt,pickup_month,borough,pickups,hday,spd,vsb,temp,dewp,slp,pcp 01,pcp 06,pcp 24,sd
0,2015-01-01 01:00:00,Jan,Bronx,152,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
1,2015-01-01 01:00:00,Jan,Brooklyn,1519,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
2,2015-01-01 01:00:00,Jan,EWR,0,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
3,2015-01-01 01:00:00,Jan,Manhattan,5258,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
4,2015-01-01 01:00:00,Jan,Queens,405,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29096,2015-06-30 23:00:00,Jun,EWR,0,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29097,2015-06-30 23:00:00,Jun,Manhattan,3828,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29098,2015-06-30 23:00:00,Jun,Queens,580,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29099,2015-06-30 23:00:00,Jun,Staten Island,0,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0
29100,2015-06-30 23:00:00,Jun,NaN,3,N,7.0,10.0,75.0,65.0,1011.8,0.0,0.0,0.0,0.0

In [68]:
taxi.groupby(['borough', 'hday']).pickups.mean().to_frame()

                        pickups
borough       hday
Bronx         N       50.771073
              Y       48.065868
Brooklyn      N      534.727969
              Y      527.011976
EWR           N        0.023467
              Y        0.041916
Manhattan     N     2401.302921
              Y     2035.928144
Queens        N      308.899904
              Y      320.730539
Staten Island N        1.606082
              Y        1.497006

### 10

Для каждого района посчитайте число поездок по месяцам. Отсортируйте полученные значения по убыванию и сохраните результирующий датафрейм в __pickups_by_mon_bor__.

In [85]:
pickups_by_mon_bor = taxi.groupby(['borough', 'pickup_month'], as_index=False) \
                         .agg({'pickups': 'sum'}) \
                         .sort_values('pickups', ascending=False)

### 11

Теперь задача посложнее! Попрактикуемся в написании собственных функций и их применении к датафрейму. Поскольку данные о поездках в Нью-Йорке, температура представлена в градусах Фаренгейта. 

Напишите функцию __temp_to_celcius__, которая получает на вход колонку с температурой в __°F__, и возвращает значения, переведенные в градусы Цельсия.

Формула:  
    $Celsius = \frac{(Fahrenheit - 32) · 5}{9}$

In [91]:
def temp_to_celcius(series):
    return (taxi.temp - 32) * 5 / 9

In [93]:
temp_to_celcius(taxi.temp)

0        -1.111111
1        -1.111111
2        -1.111111
3        -1.111111
4        -1.111111
           ...
29096    23.888889
29097    23.888889
29098    23.888889
29099    23.888889
29100    23.888889
Name: temp, Length: 29101, dtype: float64