## Дополнительный проект

В папке subsid (shared/homeworks/python_ds_miniprojects/5_subsid) находятся файлы (tm_sales_1, tm_sales_2, ...) с продажами продуктов через телемаркетинг. Каждый файл содержит, как минимум, 4 колонки (поля): FILIAL_ID, SUBS_ID, PROD_ID, ACT_DTTM.

Суть задачи в том, чтобы проверить подключения продуктов определенным пользователям, соединив файлы о продажах с логами по подключениям в системе.

Особенности данных:

1. сотрудники телемаркетинга не всегда указывают полный id, если 'id' нет в начале SUBS_ID, то нужно его добавить  
2. поля в файлах могут быть расположены абсолютно случайным образом, но названия полей статичны  
3. продажа не засчитывается, если отключение (END_DTTM) произошло меньше чем через 5 минут после подключения (START_DTTM)  
4. если в файле с продажами встречается строка без указанного SUBS_ID, она пропускается  

Сохраните результат в датафрэйм с разделителем ;, содержащий корректные подключения.

Note: обратите внимание на то, как pandas переводит дату из строки, возможно вам понадобится параметр format

Пример содержания итогового файла (колонка difference это разница между START_DTTM и END_DTTM):

In [ ]:
ACT_DTTM;FILIAL_ID;difference
20-03-2020 14:59;1;255 days 09:01:00

In [1]:
import pandas as pd

In [2]:
df_check = pd.read_csv("shared/homeworks/python_ds_miniprojects/5_subsid/subsid/prod_activations_logs.csv", sep=";")

In [3]:
df_check = df_check

In [4]:
df_check

     SUBS_ID  PROD_ID        START_DTTM          END_DTTM
1  id4651830     1954  20-03-2020 14:59  01-12-2020 00:00
5  id7646509     6431  19-03-2020 13:00  19-03-2020 13:03
2  id7461794     3310  20-03-2020 17:25  01-12-2020 00:00
3  id5416547     1743  17-03-2020 10:17  25-03-2020 11:00
4  id8238421     1859  01-03-2020 11:42  01-03-2020 11:43
3  id8641743     2752  20-03-2020 15:44  21-04-2020 15:44
2  id2185490     3210  16-03-2020 16:28  01-12-2020 00:00
6  id7642700     3020  15-03-2020 14:21  15-03-2020 23:42
2  id8741631     5677  19-03-2020 12:28  01-12-2020 00:00

In [5]:
path_to_file = "shared/homeworks/python_ds_miniprojects/5_subsid/subsid/tm_sales_"

In [6]:
needs_data = pd.DataFrame()

In [7]:
for i in range(1,4):
    tepmorary_df = pd.read_csv(f"{path_to_file}{i}.csv", sep=';') 
    needs_data = pd.concat([needs_data, tepmorary_df])

In [9]:
tmp_needs_data = needs_data.dropna()

In [10]:
tmp_needs_data

     SUBS_ID  FILIAL_ID  PROD_ID          ACT_DTTM
0  id4651830          1     1954  20-03-2020 14:59
1    7646509          5     6431  19-03-2020 13:00
2  id7412683          4     3313  22-03-2020 17:25
0  id5416547          3     1743  17-03-2020 10:17
2    8362218          7     9879  05-03-2020 11:42
3    2185490          2     3210  16-03-2020 16:28
0  id5764122          3     1499  18-03-2020 15:44
1  id7642700          6     3020  15-03-2020 14:21
2  id1374509          2     5677  17-03-2020 11:48

In [109]:
def add_id(text):
    text_tmp = str(text)
    if text_tmp[:2] != "id":
        return "id" + text_tmp
    else:
        return text_tmp

In [110]:
tmp_needs_data.SUBS_ID = tmp_needs_data.SUBS_ID.apply(add_id)

/opt/tljh/user/lib/python3.7/site-packages/pandas/core/generic.py:5165: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [111]:
tmp_needs_data

     SUBS_ID  FILIAL_ID  PROD_ID          ACT_DTTM
0  id4651830          1     1954  20-03-2020 14:59
1  id7646509          5     6431  19-03-2020 13:00
2  id7412683          4     3313  22-03-2020 17:25
0  id5416547          3     1743  17-03-2020 10:17
2  id8362218          7     9879  05-03-2020 11:42
3  id2185490          2     3210  16-03-2020 16:28
0  id5764122          3     1499  18-03-2020 15:44
1  id7642700          6     3020  15-03-2020 14:21
2  id1374509          2     5677  17-03-2020 11:48

In [121]:
combined_both_data = df_check.merge(tmp_needs_data, how="inner", on=["SUBS_ID", "PROD_ID"])

In [122]:
combined_both_data

,SUBS_ID,PROD_ID,START_DTTM,END_DTTM,FILIAL_ID,ACT_DTTM
0,id4651830,1954,20-03-2020 14:59,01-12-2020 00:00,1,20-03-2020 14:59
1,id7646509,6431,19-03-2020 13:00,19-03-2020 13:03,5,19-03-2020 13:00
2,id5416547,1743,17-03-2020 10:17,25-03-2020 11:00,3,17-03-2020 10:17
3,id2185490,3210,16-03-2020 16:28,01-12-2020 00:00,2,16-03-2020 16:28
4,id7642700,3020,15-03-2020 14:21,15-03-2020 23:42,6,15-03-2020 14:21

In [127]:
combined_both_data["ACT_DTTM"] = pd.to_datetime(combined_both_data['ACT_DTTM'], format='%d-%m-%Y %H:%M')

In [128]:
combined_both_data["START_DTTM"] = pd.to_datetime(combined_both_data['START_DTTM'], format='%d-%m-%Y %H:%M')

In [129]:
combined_both_data["END_DTTM"] = pd.to_datetime(combined_both_data['END_DTTM'], format='%d-%m-%Y %H:%M')

In [85]:
combined_both_data.dtypes

SUBS_ID               object
FILIAL_ID              int64
PROD_ID                int64
ACT_DTTM      datetime64[ns]
START_DTTM    datetime64[ns]
END_DTTM      datetime64[ns]
dtype: object

In [124]:
success_dttm = combined_both_data

In [133]:
success_dttm["difference"] = success_dttm['END_DTTM'] - success_dttm['START_DTTM']

In [136]:
success_dttm

,SUBS_ID,PROD_ID,START_DTTM,END_DTTM,FILIAL_ID,ACT_DTTM,difference
0,id4651830,1954,2020-03-20 14:59:00,2020-12-01 00:00:00,1,2020-03-20 14:59:00,255 days 09:01:00
1,id7646509,6431,2020-03-19 13:00:00,2020-03-19 13:03:00,5,2020-03-19 13:00:00,0 days 00:03:00
2,id5416547,1743,2020-03-17 10:17:00,2020-03-25 11:00:00,3,2020-03-17 10:17:00,8 days 00:43:00
3,id2185490,3210,2020-03-16 16:28:00,2020-12-01 00:00:00,2,2020-03-16 16:28:00,259 days 07:32:00
4,id7642700,3020,2020-03-15 14:21:00,2020-03-15 23:42:00,6,2020-03-15 14:21:00,0 days 09:21:00

In [141]:
success_dttm = success_dttm.query("difference > '5m'")

In [144]:
success_dttm = success_dttm.sort_values("SUBS_ID")

In [145]:
success_dttm

,SUBS_ID,PROD_ID,START_DTTM,END_DTTM,FILIAL_ID,ACT_DTTM,difference
3,id2185490,3210,2020-03-16 16:28:00,2020-12-01 00:00:00,2,2020-03-16 16:28:00,259 days 07:32:00
0,id4651830,1954,2020-03-20 14:59:00,2020-12-01 00:00:00,1,2020-03-20 14:59:00,255 days 09:01:00
2,id5416547,1743,2020-03-17 10:17:00,2020-03-25 11:00:00,3,2020-03-17 10:17:00,8 days 00:43:00
4,id7642700,3020,2020-03-15 14:21:00,2020-03-15 23:42:00,6,2020-03-15 14:21:00,0 days 09:21:00

In [147]:
final_project = success_dttm[['ACT_DTTM', 'FILIAL_ID', 'difference']]

In [148]:
final_project

             ACT_DTTM  FILIAL_ID        difference
3 2020-03-16 16:28:00          2 259 days 07:32:00
0 2020-03-20 14:59:00          1 255 days 09:01:00
2 2020-03-17 10:17:00          3   8 days 00:43:00
4 2020-03-15 14:21:00          6   0 days 09:21:00

In [149]:
final_project.to_csv('data', sep=';')