## А вот и наш первый минипроект!

В первом мини-проекте вам предстоит проанализировать данные о бронировании отелей. Чуть ниже вы можете ознакомиться со списком вопросов и описанием данных.  

## Задания

1. Импортируйте библиотеку pandas как pd. Загрузите датасет bookings.csv с разделителем ;. Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные.   
2. Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.  
3. Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.  
4. На сколько ночей в среднем бронируют отели разных типов?  
5. Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?  
6. Проанализируйте даты запланированного прибытия. – На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?– Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов
7. Посмотрите на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение?
8. Создайте колонку total_kids, объединив children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?
9. Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах (churn rate). Укажите, среди какой группы показатель выше.

## Описание данных

· Hotel – тип отеля (City Hotel или Resort Hotel)    
· Is canceled – бронирование было отменено (1) или нет (0); не отмененное считается успешным  
· Lead time – количество дней, прошедших между датой бронирования и датой прибытия    
· Arrival full date – полная дата прибытия  
· Arrival date year – год прибытия    
· Arrival date month – месяц прибытия    
· Arrival date week number – номер недели прибытия  
· Arrival date day of month – день прибытия  
· Stays in weekend nights – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле  
· Stays in week nights – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле  
· Stays total nights – общее число забронированных ночей (сумма двух предыдущих колонок)  
· Adults – число взрослых  
· Children – число детей  
· Babies – число младенцев   
· Meal – выбранный тип питания  
· Country – страна происхождения клиента  
· Reserved room type – тип зарезервированного номера  
· Assigned room type – тип полученного номера (может отличаться от забронированного)  
· Customer type – тип бронирования  
· Reservation status – значение последнего статуса брони: Canceled - было отменено клиентом; Check-Out - клиент   зарегистрировался, но уже покинул отель; No-Show - клиент не зарегистрировался и сообщил администрации отеля причину  
· Reservation status date – дата обновления статуса

### 1

Импортируйте библиотеку pandas как __pd__. Прочитайте датасет __bookings.csv__ с разделителем __;__. Ссылка на датасет находится в переменной __path_to_file__.

Сохраните прочитанный датасет в __bookings__. Затем запишите первые 7 строк в переменную __bookings_head__.

In [1]:
import pandas as pd


path_to_file = '2_bookings.csv'
bookings = pd.read_csv(path_to_file, sep=';')
bookings_head = bookings.head(7)

Посмотрите на размеры таблицы. Сколько всего в ней столбцов

In [5]:
rows, columns = bookings.shape[:2]
print(f'{rows = }, {columns = }')

rows = 119390, columns = 21

К какому типу относится большинство переменных?

In [7]:
bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Hotel                      119390 non-null  object
 1   Is Canceled                119390 non-null  int64
 2   Lead Time                  119390 non-null  int64
 3   arrival full date          119390 non-null  object
 4   Arrival Date Year          119390 non-null  int64
 5   Arrival Date Month         119390 non-null  object
 6   Arrival Date Week Number   119390 non-null  int64
 7   Arrival Date Day of Month  119390 non-null  int64
 8   Stays in Weekend nights    119390 non-null  int64
 9   Stays in week nights       119390 non-null  int64
 10  stays total nights         119390 non-null  int64
 11  Adults                     119390 non-null  int64
 12  Children                   119386 non-null  float64
 13  Babies                     119390 non-null  int64
 14  Meal                       119390 non-null  object
 15  Country                    118902 non-null  object
 16  Reserved Room Type         119390 non-null  object
 17  Assigned room type         119390 non-null  object
 18  customer type              119390 non-null  object
 19  Reservation Status         119390 non-null  object
 20  Reservation status_date    119390 non-null  object
dtypes: float64(1), int64(10), object(10)
memory usage: 19.1+ MB

### 2

Как вы уже могли заметить, при сборе датасета произошла небольшая ошибка, и названия колонок были записаны в неудобном для дальнейшей работы формате. Исправьте ситуацию, приведя названия столбцов к нижнему регистру и заменив пробелы на знак нижнего подчеркивания.

In [12]:
def changed_column(name):
    new_name = name.replace(' ', '_').lower()
    return new_name

bookings = bookings.rename(columns=changed_column)

In [13]:
bookings.head(5)

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [14]:
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [2]:
rename_columns = {}
for col in bookings.columns:
    rename_columns[col] = col.replace(' ', '_').lower()

In [3]:
bookings = bookings.rename(columns=rename_columns)
bookings.head(3)

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02

### 3

Перейдем к исследованию данных! Пользователи из каких стран совершили наибольшее число успешных бронирований? Бронирование считается успешным, если в дальнейшем не было отменено (переменная __is_canceled__). В качестве ответа выберите страны, входящие в топ-5.

In [32]:
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [39]:
bookings.loc[bookings.is_canceled == 0].country.value_counts().head(5)

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

### 4

На сколько ночей (__stays_total_nights__)  в среднем бронируют отели типа __City Hotel__? __Resort Hotel__? Запишите полученные значения в пропуски с точностью до 2 знаков после точки.

In [40]:
bookings.groupby('hotel').stays_total_nights.mean().round(2)

hotel
City Hotel      2.98
Resort Hotel    4.32
Name: stays_total_nights, dtype: float64

### 5

Иногда тип номера, присвоенного клиенту (__assigned_room_type__), отличается от изначально забронированного (__reserved_room_type__). Такое может произойти, например, по причине овербукинга.

Сколько подобных наблюдений встретилось в датасете?

*отмена бронирования также считается

In [43]:
len(bookings.loc[bookings.assigned_room_type != bookings.reserved_room_type])

14917

### 6

Теперь проанализируйте даты запланированного прибытия (__arrival_date_year__).

На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017?

In [48]:
bookings.groupby('arrival_date_year').arrival_date_month.agg({pd.Series.mode})

                        mode
arrival_date_year
2015               September
2016                 October
2017                     May

Сгруппируйте данные по годам, а затем проверьте, на какой месяц (__arrival_date_month__) бронирования отеля типа __City Hotel__ отменялись чаще всего в 2015? 2016? 2017?

In [69]:
bookings.groupby(['arrival_date_year', 'arrival_date_month']).is_canceled.sum().groupby('arrival_date_year').nlargest(1)

arrival_date_year  arrival_date_year  arrival_date_month
2015               2015               September             2094
2016               2016               October               2514
2017               2017               May                   2762
Name: is_canceled, dtype: int64

### 7

Посмотрите на числовые характеристики трёх колонок: __adults__, __children__ и __babies__. Какая из них имеет наибольшее среднее значение?

In [71]:
bookings.agg({"adults": "mean", "children": "mean", "babies": "mean"})

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

In [72]:
bookings[['adults', 'children', 'babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

### 8

Создайте колонку __total_kids__, объединив столбцы __children__ и __babies__. Для отелей какого типа среднее значение переменной оказалось наибольшим?

__City hotel__ – отель находится в городе  
__Resort hotel__ – отель курортный
В качестве ответа укажите наибольшее среднее __total_kids__, округлив до 2 знаков после точки.

In [4]:
bookings['total_kids'] = bookings.children + bookings.babies
bookings.groupby('hotel').total_kids.mean().round(2)

hotel
City Hotel      0.10
Resort Hotel    0.14
Name: total_kids, dtype: float64

### 9

Не все бронирования завершились успешно (__is_canceled__), поэтому можно посчитать, сколько клиентов было потеряно в процессе. Иными словами, посчитать метрику под названием __Churn Rate__. __Churn rate__ (отток, коэффициент оттока) – это процент подписчиков (например, на push-уведомления от сайта), которые отписались от канала коммуникации, отказались от услуг сервиса в течение определенного периода времени. Иными словами, представляет собой отношение количества ушедших пользователей к общему количеству пользователей, выраженное в процентах. В нашем случае __Churn Rate__ - это процент клиентов, которые отменили бронирование. Давайте посмотрим, как эта метрика связана с наличием детей у клиентов!

Создайте переменную __has_kids__, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (__total_kids__), в противном случае – False. Далее проверьте, среди какой группы пользователей показатель оттока выше.

In [5]:
def has_kids(x):
    if x > 0:
        return True
    else:
        return False

In [6]:
bookings['has_kids'] = bookings.total_kids.apply(has_kids)

In [81]:
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids,has_kids
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0,False
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0,False
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02,0.0,False
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02,0.0,False
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03,0.0,False

In [27]:
bookings[['has_kids', 'is_canceled']].value_counts() / bookings[['has_kids']].value_counts()*100

has_kids  is_canceled
False     0              62.778717
          1              37.221283
True      0              65.077154
          1              34.922846
dtype: float64

In [25]:
bookings.groupby('has_kids')['is_canceled'].value_counts(normalize=True)*100

has_kids  is_canceled
False     0              62.778717
          1              37.221283
True      0              65.077154
          1              34.922846
Name: is_canceled, dtype: float64