# ВВЕДЕНИЕ И ОПЕРАТОРЫ

### 1

Дана таблица `checks`:      

· Rub — идентификатор пользователя;  
· BuyDate — суммарный чек пользователя на дату;  
· UserID — дата, за которую собрана статистика.
    
Чтобы взглянуть на колонки этой таблицы и получить первое представление о ее данных, выведите первые 10 строк таблицы __checks__

In [ ]:
SELECT *
  FROM checks
 LIMIT 10

### 2

Давайте посмотрим на топ-10 платежей по сумме в рублях. Выведите первые 10 строк таблицы __checks__, но теперь отсортировав значения __Rub__ по убыванию.

In [ ]:
SELECT *
  FROM checks
 ORDER BY Rub DESC
 LIMIT 10

### 3

Для работы бывает удобно переименовать колонки таблицы. Выведите первые 15 строк таблицы checks, переименовав поле __Rub__ в __Revenue__ и используя сортировку по возрастанию столбца __UserID__. Разместите столбцы в запросе в следующем порядке __revenue__, __buydate__, __userid__.

In [ ]:
SELECT Rub AS Revenue,
       BuyDate,
       UserID
  FROM checks
 ORDER BY UserID 
 LIMIT 15

### 4

Проверьте, данные за какой период имеются в таблице. Для этого используйте __MIN__ и __MAX__ по колонке __BuyDate__. Колонки с минимальным и максимальным значением назовите __MinDate__ и __MaxDate__ соответственно.

In [ ]:
SELECT MIN(BuyDate) as MinDate,
       MAX(BuyDate) as MaxDate
  FROM checks

### 5

Предположим, что перед нами стоит задача отобрать несколько групп пользователей по разным критериям, чтобы отправить им персональные сообщения об акциях. Например, первым 10 пользователям, зарегистрировавшимся на сайте (чем раньше зарегистрировался пользователь, тем меньше его __UserID__), мы хотим подарить скидку на следующую покупку.

Выведите __UserID__ 10 уникальных покупателей, используя оператор __DISTINCT__. Таблицу отсортируйте по __UserID__ в порядке возрастания.

In [ ]:
SELECT DISTINCT UserID
  FROM checks
 ORDER BY UserID 
 LIMIT 10

### 6

Мы хотим сформировать новую акцию к 8 марта, и для этого нас интересуют самые крупные покупки, совершенные в этот день в прошлом году.

Выведите информацию о продажах, которые были совершены 8 марта 2019 года, используя блок __WHERE__ применительно к полю __BuyDate__. Значения отсортируйте по убыванию __Rub__. Количество строк для извлечения – 10. Дата хранится в таблице в текстовом виде и имеет формат год-месяц-день (‘YYYY-MM-DD’).

In [ ]:
SELECT *
  FROM checks
 WHERE BuyDate = '2019-03-08'
 ORDER BY Rub DESC
 LIMIT 10

### 7

Мы предполагаем, что пользователи, которые совершили крупные покупки 1 сентября в прошлом году - родители школьников, и в следующем году можно будет подготовить для них акцию на группу товаров.

Давайте применим __WHERE__ к полям __BuyDate__ и __Rub__, и посмотрим на уникальные __id__ покупателей из __checks__, которые совершили покупку 1 сентября 2019 года на сумму более 2 000 рублей. Значения отсортируйте по убыванию __UserID__.

In [ ]:
SELECT DISTINCT UserID
  FROM checks
 WHERE BuyDate = '2019-09-01' 
   AND Rub > 2000
 ORDER BY UserID DESC